:root {
    --primary: #f7f7f7;
    --secondaryColour: #e7e7e7;
    --featureColour:
}

body{
    background-color: var(--primary);
    font-family: 'Optima', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prompt{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-content: center;
}

button{
    font-family: 'Optima', monospace;
    box-shadow: 1px 1px var(--secondaryColour);
    margin: 2px;
    background-color: var(--primary);
}

.input{
    border: 0px solid var(--secondaryColour);
    border-radius: 4px;
    padding: 8px 16px;
}

.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
}

.

.display{
    text-align: center;
}