:root {
    --primary: #f7f7f7;
    --secondaryColour: #e7e7e7;
    --featureColour:
}

body{
    background-color: var(--primary);
    font-family: 'Optima', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.case.total{
    text-align: center;
    width: 100%;
}

.case-builder{
    align-self: end;
    margin: auto;
}

.container-case{
    display: grid;
    grid-template-columns: 5fr repeat(3, 2fr);
    margin: 10px;
}

.case-input{
    background-color: var(--primary);
    box-shadow: 1px 1px var(--secondaryColour);
    border: 0px solid var(--secondaryColour);
    border-radius: 4px;
    margin: 2px;
}

.prompt{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-content: center;
}

button{
    font-family: 'Optima', monospace;
    box-shadow: 1px 1px var(--secondaryColour);
    margin: 2px;
    background-color: var(--primary);
}

.input{
    border: 0px solid var(--secondaryColour);
    border-radius: 4px;
    padding: 8px 16px;
}

.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
}

.

.display{
    text-align: center;
}