:root {
    --primary: #f7f7f7;
    --secondaryColour: #e7e7e7;
    --featureColour:
}

body{
    background-color: var(--primary);
}

.container{
    display: flex;
    justify-content: center;
    align-content: center;
}

.input{
    border: 1px solid var(--secondaryColour);
    border-radius: 4px;
    padding: 8px 16px;
}

.content{
    /* background-color: var(--secondaryColour); */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.

.display{
    text-align: center;
}